.on-demand-tab {
    background-color: #aebb82;
    color: #000;
  }
  
  .scheduled-tab {
    background-color: #ecf3c4;
    color: #000000;
  }
  
  .geo-fence-tab {
    background-color: #2a71e4;
    color: #fff;
  }

  .selected-contact {
    background-color: #d61818; /* Change to the color you want */
  }
  
  .custom-ion-title {
    font-size: 12px; /* Adjust font size */
    white-space: nowrap; /* Prevent wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Add ellipsis (...) for overflow */
  }
  
  
  