.on-demand-tab {
    background-color: #aebb82;
    color: #000;
  }
  
  .scheduled-tab {
    background-color: #ecf3c4;
    color: #000000;
  }
  
  .geo-fence-tab {
    background-color: #2a71e4;
    color: #fff;
  }

  .selected-contact {
    background-color: #d61818; /* Change to the color you want */
  }
  
  
  